<!--
  This component uses @tailwindcss/forms

  yarn add @tailwindcss/forms
  npm install @tailwindcss/forms

  plugins: [require('@tailwindcss/forms')]
-->

<section>
  <div
    class="relative mx-auto max-w-screen-2xl"
    data-controller="reservation-component"
    data-default-checkin-date="<%= Date.tomorrow.to_formatted_s(:us_short_date) %>"
    data-default-checkout-date="<%= (Date.tomorrow + 1.day).to_formatted_s(:us_short_date) %>"
    data-nightly-price="<%= humanized_money(@property.price) %>"
    data-service-fee-percentage="<%= Property::SERVICE_FEE_PERCENTAGE %>"
    data-cleaning-fee="<%= humanized_money(Property::CLEANING_FEE_MONEY) %>"
  >
    <div class="grid grid-cols-1 md:grid-cols-1">
      <div class="bg-white py-12 md:py-18">
        <div class="mx-auto max-w-lg px-4 lg:px-8">
          <h2 class="text-xl font-medium text-gray-900 mb-4"><%= humanized_money_with_symbol(@property.price) %> a night</h2>
          <fieldset class="col-span-6 mb-4">
            <legend class="mb-1 block text-sm text-gray-600">
              Reservation details
            </legend>
            <div class="-space-y-px rounded-lg bg-white shadow-sm">
              <div class="flex -space-x-px">
                <div class="flex-1">
                  <label class="block text-xs font-medium text-gray-900 uppercase mb-1 mt-1" for="card-expiration-date">
                    Check in
                  </label>

                  <input
                    class="relative w-full rounded-bl-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"
                    type="text"
                    name="check-in"
                    id="check-in"
                    placeholder="11/09/2022"
                    data-reservation-component-target="checkin"
                    />
                </div>

                <div class="flex-1">
                  <label class="block text-xs font-medium text-gray-900 uppercase mb-1 mt-1" for="card-cvc">Check Out</label>

                  <input
                    class="relative w-full rounded-br-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"
                    type="text"
                    name="check-out"
                    id="check-out"
                    placeholder="Check Out"
                    data-reservation-component-target="checkout"
                    />
                </div>
              </div>
              <div>
                <input
                  class="relative w-full rounded-t-lg border-gray-200 p-2.5 text-sm placeholder-gray-400 focus:z-10"
                  type="number"
                  name="guest-count"
                  id="guest-count"
                  placeholder="Guest count"
                  />
              </div>
            </div>
          </fieldset>
          <dl class="space-y-6">
            <div class="flex items-center justify-between">
              <dt class="text-sm"><%= humanized_money_with_symbol(@property.price) %> x <span data-reservation-component-target="numOfNights">0</span> night(s)</dt>
              <dd class="text-sm font-medium text-gray-900">$<span data-reservation-component-target="nightlyTotal">0.00</span></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Cleaning Fee</dt>
              <dd class="text-sm font-medium text-gray-900"><%= humanized_money_with_symbol(Property::CLEANING_FEE_MONEY) %></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Service Fee</dt>
              <dd class="text-sm font-medium text-gray-900" >$<span data-reservation-component-target="serviceFee">0.00</span></dd>
            </div>
            <div class="flex items-center justify-between">
              <dt class="text-sm">Total</dt>
              <dd class="text-sm font-medium text-gray-900">$<span data-reservation-component-target="total">0.00</span></dd>
            </div>
          </dl>

          <div class="mt-12">
            <div class="flow-root -my-4 divide-y divide-gray-200">
              <div class="border-t border-gray-200 pt-6">
                <button
                  data-submit-url="<%= new_property_reservation_path(@property) %>"
                  data-action="reservation-component#submitReservationComponent"
                  type="submit"
                  class="w-full bg-indigo-600 border border-transparent rounded-md font-medium shadow-sm py-3 px-4 text-white"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
